div {
  width: 100%;
  height: 1rem;
  border-radius: 100vh;
  border: 1px solid var(--pokemon-type-color, #fff);
  background-color: #FBFAF5;
  display: flex;
  --progress: 0%;
}

div span {
  width: var(--progress, 0);
  height: 1rem;
  border-radius: 100svh;
  transition: width 1s ease-in-out;
  transition-delay: 500ms;
  background: rgb(59,61,64);
  background: linear-gradient(135deg, rgba(59,61,64,1) 0%, rgba(252,0,84,1) 100%);
}

